body {
    background-color: #737373;
    padding: 0;
}


.dados{
    display: flex;
    justify-content: center;
    background-color: #404040;
}

.campoBusca{
    position: relative;
    display: flex;
    align-items: flex-end;
}

.botaoBusca{
    width: 70px;
    height: 100%;
    background-color: #ddd;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

.lupa{
    position: relative;
    top: 2px;
    width: 50%;
    height: auto;
}


.entrada{
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    padding-right: 20px;
    padding-left: 20px;
    width: 400px;
    height: 40px;
    font-size: large;
}